<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main,css">

</head>
<body>
    <div class="container">
        <h1>Find something to do.</h1>

        <form action="/" class="form" method="post">
            <select name="type">
                <option value="" data-display="Select">Random</option>
                <option value="charity">charity</option>
                <option value="recreational">recreational</option>
                <option value="relaxation">relaxation</option>
                <option value="busywork">busywork</option>
                <option value="social">social</option>
                <option value="diy">diy</option>
                <option value="music">music</option>

            
            </select>
            <select name="participants">
                <option value="">any people</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>


            </select>
            <button type="submit" class="form-submit">Go</button>
        </form>

        <section class="cards">
            <% if (locals.data) { %>
                <article class="card-item">
                    <h2 class ="card-activity">
                        <%= data.activity %>
                    </h2>
                    <div class="cards-info">
                        <span>
                            <%= data.type %>
                        </span>
                        <span>
                            participants: <%= data.participants %>
                        </span>
                    </div>
                </article>
            <% } %>

            <% if (locals.error){ %>
                <div class="tag-error">

                </div>

            <% } %>
        </section>
    </div>
    
</body>
</html>